.btn {
  background-color: rgb(85, 85, 85);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

* {
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
}

/* Content style */
p {
  margin-bottom: 5px;
}

span {
  margin: 0px;
  text-decoration: underline;
}

/* Container for the visualization */
#vizContainer {
  float: left; 
  width: 50%; 
  min-width: 50em;
  margin-right: 10px; 
  margin-top:0px;
}

#vizContainer, #vizContainer2 h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

#vizContainer, #vizContainer2 {
  font-size: 13px;
  margin-bottom: 20px;
}

#vizContainer2 {
  float: right; 
  width: 50%; 
  min-width: 50em;
  margin-right: 10px; 
  margin-top:0px;
}


/* Data visualization style */
#my_dataviz, #my_dataviz2 {
  width: 100%;
  margin-left:-5px; 
  height: auto; 
}


/* Button container */
#buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
}

button {
  height: 40%;
  width: 25%;
}

.btn:hover {
  background-color: RoyalBlue;
}
