.btn {
    background-color: rgb(85, 85, 85); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  * {
    font-family: sans-serif;
   }

   #buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    margin: 0 5px;
}

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;}