.btn {
  background-color: rgb(85, 85, 85);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

* {
  font-family: arial;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
}

/* Content style */
p {
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
}

@media (max-width: 600px) { /* Adjust this value based on when you want to target smaller screens */
  #vizContainer, #vizContainer2  {
      width: 100%; /* Set the SVG width to 100% of its container */
      height: auto; /* Maintain the aspect ratio */
  }
  .graph-text { 
      font-size: larger;
  }
}

span {
  margin: 0px;
  text-decoration: underline;
}

#source {
  text-align: center;
}

p a {
  display: inline-block;
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */
}

#vizContainer p {
  font-size: 12px;
}

#vizContainer2 p {
  font-size: 12px;
}

#my_dataviz1, #my_dataviz2 {
  margin-bottom: -10px;
}

/* Container for the visualization */
#vizContainer {
  float: left; 
  width: 40%;
  min-width: 45em;
  margin-right: 10px;
  margin-left: -5px; 
  margin-top:0px;
}


#vizContainer2 {
  float: right; 
  width: 40%;
  min-width: 45em;
  margin-right: 10px; 
  margin-top:0px;
}


#vizContainer2 h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  float:right;
}



/* Button container */
#buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
}

button {
  height: 40%;
  width: 25%;
}

.btn:hover {
  background-color: RoyalBlue;
}
